{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
<header id="main-navigation">
    <h1><a href="{% url 'starting-page' %}">Daniel's blog</a></h1>
    <nav>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next={{request.path}}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Register</a>
        {% endif %}
        <a href="{% url 'read-later' %}">Read later</a>
        <a href="{% url 'posts-page' %}">All Posts</a>
    </nav>
</header>
{% block content %}{% endblock %}
</body>
</html>